html{
   font: normal 14px / 20px Arial, Helvetica, sans-serif;
}

a:hover,
a:focus,
a:active{
   text-decoration: none;
}

.my-clearfix{
   &:before,
      &:after {
      content: " ";
      display: table;
   }
   &:after {
      clear: both;
   }
}
.non-over-hidden{
   overflow: inherit;
}

body{
   background-color: #ebebeb;
}

.tickazilla-navbar{
   border-radius: 0;
   background-image: none;
   background-color: #fff;
   padding: 20px 0;
   .uk-navbar-nav{
      li{
         a{
            padding: 0 5px;
            &:focus,&:active{
               box-shadow: none;
               border-color: transparent;
               border-radius: 0;
            }
            img{
               height: 26px;
               vertical-align: top;
               margin-top: 7px;
            }
         }
      }
   }
   .uk-navbar-toggle{
      font-size: 31px;
      color: #5786f7;
      padding: 0 0 0 10px;
   }
   .brand-mobile{
      max-width: calc(~"100% - 126px");
      padding: 0;
      img{
         width: auto;
         height: 26px;
      }
   }
}
@media only screen and (min-width: 480px) {
   .tickazilla-navbar{
      .uk-navbar-nav{
         li{
            a{
               padding: 0 5px;
               img{
                  height: 38px;
                  margin-top: 0px;
               }
            }
         }
      }
      .uk-navbar-toggle{
         font-size: 40px;
      }
      .brand-mobile{
         max-width: calc(~"100% - 146px");
         img{
            height: 38px;
         }
      }
   }
}

.truncate {
   display: block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.truncate-inline{
   display: inline-block;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.banner{
   .uk-overlay{
      display: block;
   }
   &.hotel-banner{
      .uk-overlay{
         &>img{
            width: 100%;
            height: 500px;
         }
      }
   }
}

@media only screen and (min-width: 480px){
   .banner{
      &.hotel-banner{
         .uk-overlay{
            &>img{
               width: 100%;
               height: 680px;
            }
         }
      }
   }
}

.search-banner{
   display: block;
   width: 100%;
   .uk-form-row{
      .uk-form-label{
         text-shadow: 2px 4px 3px rgba(0,0,0,.58);
         font-size: 19px;
         img{
            height: 20px;
         }
      }
      .uk-form-icon{
         width: 100%;
         input{
            width: 100%;
            height: 40px;
            font-size: 18px;
            line-height: 38px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            background-color: #fff;
            -moz-box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
            -webkit-box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
            box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
            border: none;
            padding-right: 32px;
            padding-left: 15px !important;
         }
         i[class*=uk-icon-]{
            color: #5786f7;
            font-size: 24px;
            margin-top: -12px;
         }
         .remove-val-textbox{
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
            font-weight: normal;
            width: 15px;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .search-banner{
      .uk-form-row{
         .uk-form-label{
            font-size: 29px;
            img{
               height: auto;
            }
         }
         .uk-form-icon{
            input{
               height: 50px;
               font-size: 25px;
               line-height: 26px;
               padding-left: 20px !important;
               padding-right: 42px;
            }
            i[class*=uk-icon-]{
               font-size: 35px;
               top: 39%;
               width: 50px;
            }
            .remove-val-textbox{
               right: 15px;
               top: 15px;
               width: auto;
            }
         }
      }
   }
}

//@media only screen and (max-width: 480px){
//  .search-banner{
//    .uk-form-row{
//      .uk-form-label{
//        font-size: inherit;
//        text-align: center;
//      }
//    }
//  }
//}

.list-cate{
   .cate-item{
      background-color: #fff;
      padding: 10px;
      border-bottom: 1px solid #c3c3c3;
      text-decoration: none;
      margin-top: 0;
      .icon-list-home{
         width: 35px;
      }
      .wrap-info{
         h4{
            margin: 0;
            color: #3d3d3d;
            font-weight: 700;
         }
         p{
            margin: 0;
            color: #3d3d3d;
         }
      }
      i[class*=uk-icon-]{
         font-size: 22px;
         color: #6b6b6b;
      }
      &:hover{
         background-color: #efefef;
      }
      &:last-child{
         border-bottom: none;
      }
   }
}
@media only screen and (min-width: 480px){
   .list-cate{
      .cate-item{
         padding: 20px 10px;
         .icon-list-home{
            width: auto;
         }
         .wrap-info{
            h4{
               font-size: 30px;
               line-height: 33px;
            }
            p{
               font-size: 21px;
               line-height: 23px;
               margin-top: 10px;
            }
         }
      }
   }
}

.list-follow{
   background-color: #fff;
   margin-top: 15px;
   h1{
      font-size: 15px;
      font-weight: 700;
      padding-left: 10px;
      margin-bottom: 0;
   }
   .uk-subnav{
      display: inline-block;
      li{
         a{
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 65px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            i{
               font-size: 35px;
            }
            &.social-face{
               background-color: #506dbe;
               color: #fff;
            }
            &.social-twitt{
               background-color: #27c2f2;
               color: #fff;
            }
            &.social-link{
               background-color: #3a6da1;
               color: #fff;
            }
         }
      }
   }
}
@media only screen and (min-width: 480px) {
   .list-follow{
      h1{
         font-size: 20px;
      }
   }
}

.footer{
   padding-bottom: 20px;
   padding-top: 20px;
   .uk-subnav{
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      li{
         a{
            color: #446fd9;
         }
      }
   }
   p{
      margin: 0;
   }
}
@media only screen and (min-width:480px) {
   .footer{
      .uk-subnav{
         li{
            a{
               font-size: 22px;
            }
         }
      }
      P{
         font-size: 22px;
         margin-top: 5px;
      }
   }
}

.my-offcanvas-menu{
   .uk-offcanvas-bar{
      background: #fff;
      &:after{
         box-shadow: none;
         background: #c3c3c3;
      }
      ul{
         li{
            &.uk-nav-divider{
               height: 0;
            }
            .menu-list-item{
               padding: 10px;
               a{
                  text-decoration: none;
               }
            }
         }
      }

   }
}

.list-event-home{
   margin-top: 15px;
}
.event-home-item{
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   background-color: #fff;
   -moz-box-shadow: 3px 5px 6px rgba(1,2,2,.22);
   -webkit-box-shadow: 3px 5px 6px rgba(1,2,2,.22);
   box-shadow: 3px 5px 6px rgba(1,2,2,.22);
   text-align: center;
   padding: 5px;
   margin-bottom: 10px !important;
   border: 1px solid transparent;
   &:hover{
      border: 1px solid #5786f7;
      .info-name{
         a{
            color: #5786f7;
         }
      }
   }
   .retangle{
      position: relative;
      overflow: hidden;
      &:after{
         content: "";
         display: block;
         overflow: hidden;
         padding-bottom: 45%;
      }
      .inner{
         position: absolute;
         width: 100%;
         height: 100%;
         a{
            display: block;
            font-size: 0;
         }
      }
   }
   .info-name{
      display: table;
      text-align: center;
      width: 100%;
      height: 50px;      
      a{
         display: table-cell;
         vertical-align: middle;
         color: #3d3d3d;
         font-weight: 700;
         text-decoration: none;
         &:hover{
            color: #5786f7;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .event-home-item{
      padding: 10px;
      .info-name{
         padding-top: 5px;
         a{
            font-size: 20px;
         }
      }
   }
}

.wrap-showmore{
   min-height: 65px;
   .show-more{
      text-decoration: none;
      position: relative;
      color: #5786f7;
      &:after{
         content: "";
         width: 38px;
         height: 38px;
         background: url(~'../../img/showmore.png') no-repeat center;
         position: absolute;
         left: 50%;
         top: 22px;
         margin-right: -50%;
         -webkit-transform: translate(-50%, 0);
         -moz-transform: translate(-50%, 0);
         transform: translate(-50%, 0);
      }
   }
}

@media only screen and (min-width: 480px){
   .wrap-showmore{
      .show-more{
         font-size: 20px;
         &:after{
            top: 26px;
         }
      }
   }
}


@media only screen and (max-width: 480px){
   .search-hotel{
      .uk-form-row{
         .uk-form-label{
            font-size: inherit;
            text-align: left;
         }
      }
   }
}

.hotel-banner{
   .uk-overlay-panel{
      padding: 10px;
   }
}

.search-hotel{
   display: block;
   background-color: rgba(0, 21, 51, 0.54);
   border-radius: 10px;
   padding: 25px 10px;
   .uk-grid{
      display: block;
      flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -webkit-flex-wrap: nowrap;
   }
   .uk-form-row{
      .label-plan{
         text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.58);
         font-size: 19px;
         img{
            height: 20px;
         }
      }
      .label-checkin{
         font-size: 14px;
         font-weight: normal;
      }
      .ipt-checkin{
         height: 32px;
         color: #5786f7;
         -moz-box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
         -webkit-box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
         box-shadow: inset 3px 4px 4px rgba(115,115,115,.75);
         border: none;
         &:focus{
            border: 2px solid #5786f7;
         }
      }
      .calendar-ic{
         color: #5786f7;
      }
      .map-maker{
         color: #5786f7;
      }
      .hotel-search{
         width: 100%;
         height: 40px;
         font-size: 18px;
         line-height: 38px;
         -moz-border-radius: 15px;
         -webkit-border-radius: 15px;
         border-radius: 15px;
         background-color: #fff;
         -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
         -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
         box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
         border: none;
         padding-right: 32px;
         padding-left: 15px !important;
      }
      .remove-val-textbox{
         position: absolute;
         right: 10px;
         top: 10px;
         display: none;
         font-weight: normal;
         width: 15px;
      }
      .label-cm{
         font-size: 14px;
         font-weight: normal;
         white-space: nowrap;
      }
      .drop-night-room{
         text-align: left;
         padding: 2px 12px;
         span{
            font-size: 15px;
         }
         .uk-icon-chevron-down{
            float: right;
            margin-top: 5px;
         }
      }
      .drop-select-room{
         text-align: left;
         padding: 2px 12px;
         img{
            &.adult{
               width: auto;
               height: 24px;
               image-rendering: optimizeSpeed;
               image-rendering: -moz-crisp-edges;
               image-rendering: -o-crisp-edges;
               image-rendering: -webkit-optimize-contrast;
               image-rendering: crisp-edges;
               image-rendering: optimize-contrast;
               -ms-interpolation-mode: nearest-neighbor;
            }
            &.children{
               width: auto;
               height: 24px;
               image-rendering: optimizeSpeed;
               image-rendering: -moz-crisp-edges;
               image-rendering: -o-crisp-edges;
               image-rendering: -webkit-optimize-contrast;
               image-rendering: crisp-edges;
               image-rendering: optimize-contrast;
               -ms-interpolation-mode: nearest-neighbor;
            }
         }
         span{
            font-size: 15px;
         }
         .uk-icon-chevron-down{
            float: right;
            margin-top: 5px;
         }
      }
   }
}

.hotel-submit{
   height: 35px;
   font-size: 14px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   border: none;
   color: #fff;
   font-weight: 700;
   width: 100%;
   padding: 5px 0;
   background-color: #f53939;
   -moz-box-shadow: 6px 6px 2px rgba(0,0,0,.51);
   -webkit-box-shadow: 6px 6px 2px rgba(0,0,0,.51);
   box-shadow: 6px 6px 2px rgba(0,0,0,.51);
}
@media only screen and (min-width: 480px){
   .hotel-banner{
      .uk-overlay-panel{
         padding: 10px;
      }
   }

   .search-hotel{
      display: block;
      width: 100%;
      background-color: rgba(0, 21, 51, 0.54);
      border-radius: 10px;
      padding: 25px 10px;
      .uk-form-row{
         .label-plan{
            font-size: 29px;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.58);
            img{
               height: auto;
            }
         }
         .label-checkin{
            font-size: 20px;
            line-height: 28px;
         }
         .ipt-checkin{
            height: 60px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            padding-left: 50px !important;
            font-size: 20px;
            color: #5786f7;
            &:focus{
               border: 3px solid #5786f7;
            }
         }
         .calendar-ic{
            font-size: 30px;
            color: #5786f7;
            top: 35%;
            width: 50px;
         }
         .map-maker{
            font-size: 35px;
            color: #5786f7;
            top: 33%;
            width: 50px;
         }
         .hotel-search{
            width: 100%;
            height: 60px;
            font-size: 25px;
            line-height: 26px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background-color: #fff;
            -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
            -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
            box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
            border: none;
            padding-left: 20px !important;
            padding-right: 42px;
         }
         .remove-val-textbox{
            right: 15px;
            top: 19px;
            width: auto;
         }
         .label-cm{
            font-size: 20px;
            line-height: 22px;
         }
         .drop-night-room{
            text-align: left;
            padding: 15px 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            span{
               font-size: 20px;
            }
            .uk-icon-chevron-down{
               float: right;
               margin-top: 5px;
            }
         }
         .drop-select-room{
            text-align: left;
            padding: 5px 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            img{
               &.adult{
                  width: auto;
                  height: auto;
                  image-rendering: optimizeSpeed;
                  image-rendering: -moz-crisp-edges;
                  image-rendering: -o-crisp-edges;
                  image-rendering: -webkit-optimize-contrast;
                  image-rendering: crisp-edges;
                  image-rendering: optimize-contrast;
                  -ms-interpolation-mode: nearest-neighbor;
               }
               &.children{
                  width: auto;
                  height: auto;
                  image-rendering: optimizeSpeed;
                  image-rendering: -moz-crisp-edges;
                  image-rendering: -o-crisp-edges;
                  image-rendering: -webkit-optimize-contrast;
                  image-rendering: crisp-edges;
                  image-rendering: optimize-contrast;
                  -ms-interpolation-mode: nearest-neighbor;
               }
            }
            span{
               font-size: 20px;
               margin-left: 15px;
            }
            .uk-icon-chevron-down{
               float: right;
               margin-top: 15px;
            }
         }
      }
   }

   .hotel-submit{
      height: 60px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      width: 100%;
      background-color: #f53939;
      -moz-box-shadow: 6px 6px 2px rgba(0,0,0,.51);
      -webkit-box-shadow: 6px 6px 2px rgba(0,0,0,.51);
      box-shadow: 6px 6px 2px rgba(0,0,0,.51);
   }
}

.head-page-intro{
   background-color: #fff;
   margin: 10px 0;
   padding: 10px;
   h1{
      font-size: 17px;
      line-height: 19px;
      font-weight: 700;
      margin: 0;
   }
   p{
      margin: 0;
      color: #777;
   }
}
@media only screen and (min-width: 480px){
   .head-page-intro{
      h1{
         font-size: 20px;
         line-height: 23px;
      }
      p{
         font-size: 17px;
      }
   }
}

.filter-select-page{
   background-color: #fff;
   margin-top: 10px;
   padding: 10px;
   .btn-filter{
      color: #004bff;
      font-weight: 700;
   }
   .dropdown-clubs{
      i[class^="uk-icon-"]{
         width: 14px;
         float: right;
         vertical-align: middle;
         margin-top: 5px;
      }
      .val-select{
         display: block;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width: calc(~"100% - 14px");
         float: left;
      }
   }
}
@media only screen and (min-width: 480px){
   .filter-select-page{
      .btn-filter{
         padding: 15px 10px;
         font-size: 18px;
         border-radius: 10px;
         width: 50%;
      }
      .dropdown-clubs{
         padding: 15px 15px;
         border-radius: 10px;
         font-size: 18px;
      }
   }
}

.avaiable-fixture{
   padding: 0 10px;
   margin: 5px 0 5px;
   .currency{
      color: #57933a;
      font-weight: 700;
   }
}
@media only screen and (min-width: 480px){
   .avaiable-fixture{
      margin: 10px 0 10px;
      font-size: 20px;
   }
}

.fixture-item{
   padding: 10px;
   background-color: #fff;
   border-bottom: 1px solid #c3c3c3;
   position: relative;
   &:after{
      font-family: FontAwesome;
      content: "\f054";
      font-size: 15px;
      color: #5786f7;
      position: absolute;
      top: calc(~"50% - 25px");
      right: 0;
      transform: translate(-50%,0);
      -webkit-transform: translate(-50%,0);
      -moz-transform: translate(-50%,0);
   }
   &:last-child{
      border-bottom: none;
   }
   .calen-fixture{
      text-align: center;
      img{
         height: 40px;
      }
      .item-cal{
         background-color: #efefef;
         -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
         border-radius: 4px;
         overflow: hidden;
         margin-top: 5px;
         .head{
            color: #fff;
            background-color: #5785f7;         
            padding: 5px 0;
            text-transform: capitalize;
         }
         .body{
            span{
               display: block;
               color: #5785f7;
               text-transform: capitalize;
               &+span{
                  font-size: 14px;
               }
            }
         }
         .foot{
            border-top: 1px dotted #5785f7;
            color: #777;
            font-size: 14px;
            &.base{
               font-size: inherit;
            }
         }
      }
   }

   .info-fixture{
      h4{
         font-size: 14px;
         line-height: 19px;
         font-weight: 700;
         margin: 0;
         color: #3d3d3d;
         span{
            font-weight: inherit;
            font-size: 14px;
            color: #777;
         }
      }
      .uk-list{
         li{
            color: #777;
         }
      }
      .option-1{
         height: 25px;
         &+span{
            display: block;
         }
      }
      .option-2{
         height: 25px;
         &+span{
            display: block;
         }
      }
      .option-span{
         text-align: center;
         span{
            &+span{
               color: #57933a;
               font-weight: bold;
               font-size: 17px;
            }
         }
      }
      .uk-grid-divider{
         margin-left: -10px;
         margin-right: -10px;         
         &>[class^="uk-width-"]{
            padding-left: 10px;
            padding-right: 10px;
            &:last-child{
               border-left: 1px dotted #5785f7;   
            }
         }
         .nth-2-divider{
            border-left: 1px dotted #5785f7;
         }
      }
   }

   .fixture-link{
      font-size: 22px;
      color: #5786f7;
   }

   .confirmed{
      color: #f53939;
      &+img{
         width: 20px;
         height: 20px;
      }
   }
}
@media only screen and (min-width: 480px){
   .fixture-item{
      &:after{
         font-size: 25px;
      }
      .calen-fixture{
         img{
            height: auto;
         }
         .item-cal{
            .head{
               font-size: 20px;
            }
            .body{
               padding: 10px 0 15px;
               span{
                  font-size: 20px;
                  line-height: 23px;
                  &+span{
                     font-size: 20px;
                  }
               }
            }
            .foot{
               font-size: 20px;
            }
         }
      }

      .info-fixture{
         h4{
            font-size: 20px;
            font-weight: normal;
            span{
               font-size: 18px;
            }
         }
         .uk-list{
            li{
               font-size: 17px;
            }
         }
         .option-1{
            width: auto;
            height: auto;
            &+span{
               font-size: 20px;
               margin-top: 5px;
            }
         }
         .option-2{
            width: auto;
            height: auto;
            &+span{
               font-size: 20px;
               margin-top: 5px;
            }
         }
         .option-span{
            span{
               font-size: 20px;
               &+span{
                  font-size: 21px;
               }
            }
         }
         .uk-grid-divider{
            div[class^="uk-width-1-"]{
               padding-top: 10px;
               padding-bottom: 10px;
            }
         }
      }

      .confirmed{
         &+img{
            width: auto;
            height: auto;
         }
      }
   }
}

.ticket-info{
   border-top: 1px solid #c3c3c3;
   padding: 10px;
   margin-top: 10px;
   p{
      color: #777;
   }
}
@media only screen and (min-width: 480px){
   .ticket-info{
      p{
         font-size: 17px;
      }
   }
}

.company-review{
   background-color: #fff;
   .head{
      padding: 10px;
      h4{
         font-size: 15px;
         font-weight: 700;
         line-height: 21px;
         color: #3d3d3d;
         margin: 0;
      }
      p{
         margin: 5px 0 0;
      }
      span{
         color: #57933a;
         font-size: 15px;
         font-weight: 700;
         margin-top: 10px;
         display: inline-block;
      }
   }
   .body{
      border-top: 1px solid #c3c3c3;
      padding: 10px;
      .great-title{
         font-size: 15px;
         font-weight: 700;
         color: #57933a;
      }
      .star-rate{
         span{
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url(~"../../img/icon-rv-a7.png")top center no-repeat;
            vertical-align: middle;
            cursor: pointer;
            &.in-active{
               background: url(~"../../img/icon-14c10.png")top center no-repeat;
            }
         }
      }
      .quality{
         color: #777;
      }
   }
}
@media only screen and (min-width: 480px){
   .company-review{
      .head{
         h4{
            font-size: 20px;
         }
         p{
            font-size: 17px;
         }
         span{
            font-size: 20px;
         }
      }
      .body{
         .quality{
            font-size: 17px;
         }
         .great-title{
            font-size: 20px;
         }
      }
   }
}

.filter-head{
   h4{
      font-size: 17px;
      font-weight: 700;
   }
   .reset{
      font-size: 17px;
      font-weight: 700;
      margin-top: 15px;
      display: inline-block;
   }
}
@media only screen and (min-width: 480px){
   .filter-head{
      h4{
         font-size: 21px;
      }
      .reset{
         font-size: 20px;
      }
   }
}

.filter-field-row{
   border-top: 1px solid #c3c3c3;
   padding: 10px 0;
   margin-top: 10px;
}

.common-form-modal{
   .uk-form-row{
      border-bottom: 1px solid #c3c3c3;
      padding-bottom: 15px;
      &:last-child{
         border-bottom: none;
         padding-bottom: 0;
      }
   }
}

.common-dropdown{
   i[class^="uk-icon-"]{
      width: 14px;
      float: right;
      vertical-align: middle;
      margin-top: 5px;
   }
   span{
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(~"100% - 14px");
      float: left;
      text-align: left;
   }
}
@media only screen and (min-width: 480px){
   .common-dropdown{
      padding: 15px 15px;
      border-radius: 10px;
      font-size: 18px;
   }
}

.common-modal-label{
   color: #5785f7;
}

@media only screen and (min-width: 480px){
   .common-modal-label{
      font-size: 21px;
   }

   .common-modal-ipt{
      height: 60px !important;
      font-size: 21px !important;
      border-radius: 10px !important;
   }
}

.club-vs{
   background-color: #fff;
   padding: 10px;
   h4{
      color: #777;
      margin: 0;
   }
   .match{
      margin: 10px 0;
      span{
         color: #777;
         font-weight: 700;
      }
   }
   .time{
      color: #777;
      margin: 5px 0;
   }
   .confirm-date-time{
      margin-top: 10px;
      span{
         color: #f53939;
      }
   }
}
@media only screen and (min-width: 480px){
   .club-vs{
      h4{
         font-size: 21px;
      }
      .match{
         span{
            font-size: 17px;
         }
      }
      .time{
         font-size: 18px;
      }
      .confirm-date-time{
         span{
            &+img{
               width: auto;
               height: auto;
            }
         }
      }
   }
}

.club-stadium{
   background-color: #fff;
   padding: 10px;
   margin-top: 10px;
   text-align: center;
   .noti{
      color: #777;
   }
}

.event-status{
   padding: 10px;
   margin-top: 10px;
   background-color: #fff;
   h4{
      color: #3d3d3d;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
   }
   p{
      color: #a4a4a4;
      margin: 0;
   }
}
@media only screen and (min-width: 480px){
   .event-status{
      h4{
         font-size: 21px;
         line-height: 24px;
      }
      p{
         font-size: 17px;
      }
   }
}

.box-contact{
   padding: 10px;
   background-color: #fff;
   h4{
      color: #a94e48;
      font-size: 15px;
      font-weight: 700;
      margin: 0;
   }
   p{
      color: #a94e48;
      margin: 0;
   }
}
@media only screen and (min-width: 480px){
   .box-contact{
      h4{
         font-size: 21px;
         line-height: 24px;
      }
      p{
         font-size: 17px;
      }
   }
}

.avaiable-event{
   padding: 10px;
   .event{
      color: #3d3d3d;
      margin: 0;
      font-weight: bold;
      font-size: 14px;
   }
   p{
      color: #777;
      margin: 0;
   }
   .currency{
      color: #57933a;
      font-weight: 700;
   }
}
@media only screen and (min-width: 480px){
   .avaiable-event{
      .event{
         font-size: 17px;
      }
      .uk-text-right{
         text-align: right !important;
      }

   }
}

.ticket-avai{
   background-color: #fff;
   border-bottom: 1px solid #c3c3c3;
   padding: 10px;
   &:last-child{
      border-bottom: none;
   }
   .uk-grid-divider{
      margin-left: -5px;
      margin-right: -5px;
      &>*{
         padding-left: 5px;
         padding-right: 5px;
      }
      .nth-2-divider{
         border-left: 1px dotted #5785f7 !important;
      }
   }
   .icon-square{
      .square-event{
         width: 28px;
         height: 28px;
         border-radius: 4px;
         display: inline-block;
         margin: 0;
         &.color-1{
            background-color: #4f81bd;
         }
         &.color-2{
            background-color: #f79646;
         }
         &.color-3{
            background-color: #9bbb59;
         }
         &.color-4{
            background-color: #8064a2;
         }
         &.color-5{
            background-color: #ff0000;
         }
         &.color-6{
            background-color: #00b050;
         }
      }
   }

   .info{
      position: relative;
      margin-bottom: 5px;
      .tool-info{
         position: absolute;
         width: 20px;
         height: 20px;
         right: 0;
         top: 0;
      }
      h4{
         color: #3d3d3d;
         font-weight: bold;
         margin: 0;
         font-size: 14px;
      }
      p{
         color: #3d3d3d;
         font-weight: bold;
         margin: 0;
      }

   }
   span{
      color: #5785f7;
      font-weight: bold;
   }

   .act{
      text-align: center;
      width: 100%;
      span{
         display: block;
         color: #579339;
         font-size: 15px;
         line-height: 30px;
         font-weight: 700;
         margin-bottom: 5px;
      }
      .btn-book-now{
         padding: 0 5px;
         background-color: #5786f7;
         color: #fff;
         display: block;
         border-radius: 4px;
         padding: 10px;
      }
   }
}
@media only screen and (min-width: 480px){
   .ticket-avai{
      .icon-square{
         .square-event{
            width: 40px;
            height: 40px;
            border-radius: 5px;
         }
      }

      .info{
         .tool-info{
            width: auto;
            height: auto;
         }
         h4{
            font-size: 17px;
         }
         p{
            font-size: 15px;
         }
         span{
            font-size: 15px;
         }
      }

      .act{
         span{
            font-size: 21px;
            text-transform: capitalize;
         }
         .btn-book-now{
            padding: 15px 10px;
            font-size: 18px;
         }
      }
   }
}

.list-blue-link{
   background-color: #fff;
   padding: 10px;
   margin-bottom: 10px;
   .uk-list{
      li{
         a{
            text-decoration: none;
            font-weight: bold;
            color: #5786f7;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .list-blue-link{
      .uk-list{
         li{
            margin-bottom: 10px;
            &:last-child{
               margin-bottom: 0;
            }
            a{
               font-size: 17px;
            }
         }
      }
   }
}

.link-form-ticka{
   font-weight: bold;
   color: #5786f7;
}
@media only screen and (min-width: 480px){
   .link-form-ticka{
      font-size: 17px;
   }
}


.hotel-subnav{
   margin-top: -5px;
   margin-bottom: 10px;
   li{
      color: #777;
      img{
         margin-right: 10px;
      }
   }
   &.air-map{
      li{
         a{
            color: #5785f7;
            font-weight: bold;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .hotel-subnav{
      &.air-map{
         li{
            font-size: 17px;
            a{
               font-size: 17px;
            }
         }
      }
   }
}

.change-hotel-search{
   font-weight: bold;
   &:focus{
      text-decoration: none;
      outline: none;
   }
}
@media only screen and (min-width: 480px){
   .change-hotel-search{
      font-size: 20px;
      i{
         font-weight: bold;
      }
   }
}

.hotel-search-item{
   padding: 10px;
   background-color: #fff;
   border-bottom: 1px solid #c3c3c3;
   .box-name{
      margin-bottom: 10px;
      h4{
         margin: 0;
         font-weight: bold;
      }
      .score{
         display: inline-block;
      }
      span{
         color: #777;
         vertical-align: middle;
         margin-top: 2px;
         display: block;
      }
   }
   .box-info-hotel{
      .list-intro{
         li{
            color: #777;
            line-height: 16px;
            margin-bottom: 6px;
            img{
               margin-right: 5px;
            }
            span{
               margin-left: 5px;
               color: #5e8bf7;
               font-weight: bold;
            }
         }
      }
   }
   .from-price{
      width: 100%;
      span{
         &+span{
            color: #579339;
            font-weight: bold;
            font-size: 17px;
            i{
               color: #5786f7;
               font-weight: bold;
               font-size: 22px;
            }
         }
      }
   }
   .link-caret{
      display: none;
   }
}
@media only screen and (min-width: 480px){
   .hotel-search-item{
      .box-name{
         h4{
            font-size: 22px;
         }
      }
      .box-info-hotel{
         .list-intro{
            li{
               font-size: 16px;
               margin-bottom: 10px;
            }
         }
      }
      .has-space-dot{
         border-left: 1px dotted #5785f7;
      }
      .from-price{
         text-align: right;
         span{
            font-size: 16px;
            &+span{
               margin-right: inherit;
               font-size: 21px;
               i{
                  font-size: 23px;
               }
            }
         }
      }
      .link-caret{
         display: block;
         text-align: right;
         a{
            text-decoration: none;
            font-size: 22px;
         }
      }
   }
}

.block-info-hotel{
   background-color: #fff;
   padding: 10px 0;
}
.list-hotel-action{
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom: 20px;
   .uk-slider-container{
      .uk-grid-divider{
         margin-left: -10px;
         margin-right: -10px;
         &>*{
            padding-left: 10px;
            padding-right: 10px;
         }
         &>li:nth-child(n+2){
            border-left: 1px solid #e5e5e5;
         }
         li{
            a{
               text-decoration: none;
            }
         }
      }
   }
}
.room-option-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
}
.list-room-people{
   margin-bottom: 0;
   span{
      font-weight: bold;
      color: #3d3d3d;
      display: inline-block;
      margin-top: 2px;
      &.config{
         color: #5785f7;
         &+img{
            width: 20px;
            height: 20px;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .list-room-people{
      span{
         font-size: 21px;
         &.config{
            &+img{
               width: auto;
               height: auto;
            }
         }
      }
   }
}

.list-room-check{
   margin-top: 5px;
   li{
      color: #777;
      line-height: 16px;
      margin-bottom: 6px;
      img{
         margin-right: 5px;
      }
      span{
         margin-left: 5px;
         color: #5e8bf7;
         font-weight: bold;
      }
   }
}
@media only screen and (min-width: 480px){
   .list-room-check{
      li{
         font-size: 18px;
         margin-bottom: 10px;
         img{
         }
         span{
         }
      }
   }
}

.room-option-price{
   text-align: center;
   height: 100%;
   span{
      font-weight: bold;
      color: #579339;
   }
   p{
      margin: 0 0 10px;
      b{
         color: #5786f7;
      }
   }
}
@media only screen and (min-width: 480px){
   .room-option-price{
      text-align: right;
      span{
         font-size: 21px;
      }
      p{
         font-size: 17px;
         margin-top: 5px;
         b{
            color: #5786f7;
         }
      }
      .btn-book-now{
         padding: 10px 30px;
         font-size: 18px;
      }
   }
}

.ticket-only{
   text-align: center;
   margin-top: 10px;
   a{
      font-weight: bold;
      i{
         font-weight: bold;
      }
   }
}
@media only screen and (min-width: 480px){
   .ticket-only{
      position: absolute;
      bottom: 10px;
      right: 0;
      a{
         font-size: 21px;
         text-decoration: none;
      }
   }
}


.other-list-review{
   margin-top: 10px;
}
.other-list-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   margin-top: 0 !important;
   &:last-child{
      border-bottom: none;
   }
   &:hover{
      background-color: #efefef;
      text-decoration: none;
   }
   h4{
      color: #306eba;
      font-weight: bold;
   }
}
@media only screen and (min-width: 480px){
   .other-list-item{
      h4{
         font-size: 21px;
      }
      i.uk-icon-chevron-right{
         font-size: 21px;
      }
   }
}

.delivery-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   .uk-grid-divider{
      margin-left: -10px;
      margin-right: -10px;
      &>*{
         padding-left: 10px;
         padding-right: 10px;
      }
      &>[class^="uk-width-"]:nth-child(n+2){
         border-left: 1px dotted #5785f7 ;
      }
   }
   .name-delivery{
      h4{
         font-weight: bold;
         color: #4a4a4a;
         margin-bottom: 0;
      }
      span{
         font-weight: bold;
         color: #5785f7;
         &+img{
            width: 20px;
            height: 20px;
         }
      }
   }
   .price{
      span{
         font-weight: bold;
         color: #579339;
      }
   }
}
@media only screen and (max-width: 480px){
   .delivery-item{
      .uk-grid-divider{
         &>.clear-divider{
            border-left: none !important;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .delivery-item{
      .name-delivery{
         h4{
            font-size: 21px;
            margin-bottom: 10px;
         }
         span{
            font-size: 17px;
            &+img{
               width: auto;
               height: auto;
            }
         }
      }
      .price{
         span{
            font-size: 21px;
         }
      }
      .btn-select-deli{
         padding: 10px 14px;
         font-size: 18px;
         i{
            font-weight: bold;
         }
      }
   }
}

.required-signin{
   font-weight: bold;
   color: #5786f7;
   margin-top: 10px;
   display: inline-block;
   text-decoration: none;
   img{
      vertical-align: bottom;
   }
   span{
      color: #4a4a4a;
      font-weight: normal;
   }
}
@media only screen and (min-width: 480px){
   .required-signin{
      font-size: 18px;
   }
}

.tip-block{
   padding: 10px;
   span{
      color: #3d3d3d;
      &+img{
         width: 20px;
         height: 20px;
      }
   }
   h4{
      font-weight: bold;
      margin: 0;
   }
}
@media only screen and (min-width: 480px){
   .tip-block{
      span{
         font-size: 18px;
         &+img{
            width: auto;
            height: auto;
         }
      }
   }
}

.mb-10{
   margin-bottom: 10px;
}

.guest-item{
   background-color: #fff;
   padding: 10px 10px 20px;
   border-bottom: 1px solid #c3c3c3;
   h4.title{
      font-weight: bold;
   }
   input[type='text'],
   select{
      border-radius: 0;
   }
}

.block-box{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   h4{
      font-weight: bold;
      margin-bottom: 0px;
   }
   p{
      margin: 0;
      color: #3d3d3d;
   }
   .uk-list{
      margin: 0;
   }
}

.block-list-condition{
   .list-condition{
      li{
         padding: 10px;
         &:nth-child(even){
            background-color: #fff;
         }
         h4{
            font-weight: bold;
         }
      }
   }
}

.list-pay{
   border-top: 1px solid #c3c3c3;
}
.pay-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   .info{
      text-align: center;
      h4{
         margin: 0;
         font-weight: bold;
         color: #5786f7;
      }
      span{
         color: #3d3d3d;
      }
   }
   .price{
      font-weight: bold;
      color: #57933a;
   }
}
@media only screen and (min-width: 480px){
   .pay-item{
      .info{
         h4{
            font-size: 21px;
         }
         span{
            font-size: 18px;
         }
      }
      .price{
         font-size: 21px;
      }
   }
}

.pay-has-price{
   padding: 10px;
   .how{
      &+img{
         width: 20px;
         height: 20px;
      }
   }
   .prices{
      b{
         color: #579339;
      }
   }
}
@media only screen and (min-width: 480px){
   .pay-has-price{
      .how{
         font-size: 18px;
         &+img{
            width: auto;
            height: auto;
         }
      }
      .prices{
         font-size: 18px;
         text-align: right;
         display: block;
      }
   }
}

.toggle-change-hotel{
   padding: 10px;
   background-color: #fff;
   border-top: 1px solid #c3c3c3;
   margin-top: -10px;
   .uk-list{
      li{
         color: #636363;
         &:last-child{
            color: #57933a;
         }
         img{
            width: 20px;
            height: 20px;
         }
      }
   }
}
@media only screen and (min-width: 480px){
   .toggle-change-hotel{
      .uk-list{
         li{
            font-size: 18px;
            margin-bottom: 10px;
            img{
               width: auto;
               height: auto;
            }
         }
      }
      .btn-book{
         padding: 10px 20px;
         font-size: 18px;
         i{
            font-weight: bold;
         }
      }
   }
}

.filter-rate{
   display: inline-block;
}
@media only screen and (min-width: 480px){
   .btn-map-filter{
      padding: 15px 30px;
      border-radius: 10px;
      font-size: 18px;
   }
}

.head-page-intro2{
   padding: 10px;
   h1{
      font-size: 17px;
      line-height: 19px;
      font-weight: 700;
      margin: 0;
   }
}

.block-ticket-booking{
   background-color: #fff;
   padding: 10px;
   h4{
      font-weight: bold;
      color: #3d3d3d;
      margin: 0;
   }
   .ticket-booking-price{
      font-weight: bold;
      color: #57933a;
      font-size: 17px;
   }

}

.wrap-total-ticket-cost{
   border-top: 1px solid #c3c3c3;
   margin-top: 10px;
   padding-top: 10px;
   .total-ticket-cost{
      color: #5786f7;
   }
   .ticket-booking-total{
      font-weight: bold;
      color: #57933a;
      font-size: 17px;
   }
}

.block-hotel-booking{
   background-color: #fff;
   padding: 10px;
   h4{
      font-weight: bold;
      color: #3d3d3d;
      margin: 0;
   }
   .hotel-booking-price{
      font-weight: bold;
      color: #57933a;
      font-size: 17px;
      display: block;
   }
}

.block-common-review{
   background-color: #fff;
   padding: 10px;
   h4{
      font-weight: bold;
      color: #3d3d3d;
      margin: 0;
      &.has-cost{
         color: #5786f7;
      }
   }
   p{
      margin: 0;
   }
   .booking-price{
      font-weight: bold;
      color: #57933a;
      font-size: 17px;
   }
}

.head-page-intro3{
   .inner-head{
      padding: 10px;
   }
   .info-cost{
      padding: 10px;
      background-color: #fff;
      span{
         color: #57933a;
      }
   }
   .total-cost{
      font-weight: bold;
      margin: 0;
      color: #5786f7;
   }
   .total-price{
      font-weight: bold;
      color: #57933a;
      font-size: 17px;
   }
}

.promotion-discount{
   .inner{
      padding: 10px;
      h4{
         font-weight: bold;
         color: #3d3d3d;
         margin: 0;
      }
      p{
         margin: 0;
      }
   }
   .payment-page{
      text-align: center;
      background-color: #fff;
      padding: 20px 0;
   }
}

.block-account{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   .head-title{
      h4{
         font-weight: bold;
         color: #5786f7;
         margin: 0;
         img{
            margin-right: 5px;
         }
      }
      p{
         color: #4a4a4a;
         margin-top: 5px;
      }
   }
   .uk-form{
      input{
         border-radius: 0;
      }
   }
}

.block-customer{
   background-color: #fff;
   &.has-line{
      border-bottom: 1px solid #c3c3c3;
   }
   .recommend{
      padding: 10px;
      border-bottom: 1px solid #c3c3c3;
      h4{
         font-weight: bold;
         color: #57933a;
         margin: 0;
         img{
            margin-right: 5px;
         }
      }
   }
   .nav-accord{
      .uk-accordion-title{
         padding: 5px 10px;
         background-color: transparent;
         border: none;
         color: #5786f7;
         margin-bottom: 0;
         position: relative;
         &:after{
            content: "";
            width: 25px;
            height: 16px;
            background: url(~'../../img/14-customer-review/down-collap.png') no-repeat;
            position: absolute;
            right: 10px;
            top: 11px;
         }
      }
   }
}

.list-review{
   margin-top: 10px;
}

.review-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   &:last-child{
      border-bottom: none;
   }
   &:hover{
      background-color: #efefef;
   }
   h4{
      font-weight: bold;
      color: #5786f7;
      margin-bottom: 0;
   }
   p{
      font-weight: bold;
      color: #57933a;
      margin: 0;
   }
   span{
      color: #3d3d3d;
   }
}

.company-review-item{
   background-color: #fff;
   padding: 10px;
   border-bottom: 1px solid #c3c3c3;
   .first-title{
      font-weight: bold;
      color: #4a4a4a;
      margin: 0;
   }
   .blue-title{
      font-weight: bold;
      color: #5786f7;
      margin: 0;
   }
   p{
      color: #3d3d3d;
      margin: 0;
   }
   .uk-grid{
      h4.green{
         font-weight: bold;
         color: #57933a;
      }
      span.blue{
         color: #5786f7;
      }
      span.green{
         color: #57933a;
      }
   }
}

.result-avai-review{
   background-color: #fff;
   padding: 10px;
   h4{
      font-weight: bold;
      margin: 0;
      color: #5786f7;
   }
}

.filter-sortby{
   padding: 10px;
   .drop-sortby{
      span{
         display: block;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width: calc(~"100% - 14px");
         float: left;
      }
      i[class^="uk-icon-"]{
         width: 14px;
         float: right;
         vertical-align: middle;
         margin-top: 5px;
      }
   }
}

.mt-10{
   margin-top: 10px;
}

@media (max-width: 480px) {
   .uk-hidden-tiny {
      display: none !important;
   }
}

.list-payment-help{
   background-color: #fff;
}

.common-accordion{
   &>.uk-accordion-title{
      position: relative;
      border-radius: 0;
      border: none;
      background-color: #fff;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 25px;
      span{
         color: #5786f7;
      }
      &:after{
         content: "";
         width: 15px;
         height: 26px;
         background: url(~'../../img/right-arrow.png') no-repeat;
         position: absolute;
         right: 10px;
         top: 50%;
         -webkit-transform: translate(0, -50%);
         -moz-transform: translate(0, -50%);
         transform: translate(0, -50%);
      }
      &.uk-active{
         &:after{
            content: "";
            width: 26px;
            height: 16px;
            background: url(~'../../img/down-collap.png') no-repeat;
            position: absolute;
            right: 10px;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            transform: translate(0, -50%);
         }
      }
   }
   .uk-accordion-content{
      padding: 15px 15px;
   }
}
@media only screen and (min-width: 480px){
   .common-accordion{
      .uk-accordion-title{
         font-size: 21px;
      }
      .uk-accordion-content{
         &>*{
            font-size: 17px;
         }
      }
   }
}

.common-accordion-2{
   &>.accordion-2-title{
      padding-right: 25px;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 10px;
      cursor: pointer;
      &:after{
         content: "";
         width: 15px;
         height: 26px;
         background: url(~'../../img/16-frequently/right-black.png') no-repeat;
         position: absolute;
         right: 0;
         top: 50%;
         -webkit-transform: translate(0, -50%);
         -moz-transform: translate(0, -50%);
         transform: translate(0, -50%);
      }
      &.uk-active{
         &:after{
            content: "";
            width: 26px;
            height: 16px;
            background: url(~'../../img/16-frequently/down-black.png') no-repeat;
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            transform: translate(0, -50%);
         }
      }
   }
   .accordion-2-content{
      &>*{
         color: #579339;
      }
   }
}
@media only screen and (min-width: 480px){
   .common-accordion-2{
      &>.accordion-2-title{
         font-size: 21px;
      }
      .accordion-2-content{
         &>*{
            font-size: 17px;
         }
      }
   }
}

.block{
   background-color: #fff;
   padding: 10px;
   h4.title{
      color: #5786f7;
      font-weight: bold;
      img{
         margin-right: 5px;
      }
   }
   .list-verify{
      li{
         color: #579339;
      }
   }
   p{
      span{
         display: block;
         font-weight: bold;
      }
   }
   a.insert-user-link{
      color: #57933a;
      font-weight: bold;
   }
}
@media only screen and (min-width: 480px){
   .block{
      h4.title{
         font-size: 21px;
      }
      .list-verify{
         li{
            font-size: 17px;
         }
      }
      p{
         font-size: 17px;
      }
   }
}

.form-for-contact{
   .uk-form-row{
      input[type="text"],
      textarea,
      select{
         border-radius: 0;
      }
      textarea{
         resize: none;
      }
   }
}

.contact-phone-item{
   background-color: #fff;
   padding: 10px;
   color: #4a4a4a;
   border-bottom: 1px solid #c3c3c3;
}

.wrap-hotel-profile{
   background-color: #fff;
   padding: 20px;
   margin-top: 10px;
}

.search-hotel{
   &.search-in-hotel-profile{
      background-color: transparent;
      padding: 0;
      width: auto;
      .uk-form-row{
         .hotel-search,
         .ipt-checkin{
            border: 1px solid #ddd;
         }
      }
   }
}

.hotel-submit{
   &.profile-hotel-submit{
      background-color: #5786f7;
   }
}

.btn-on-design{
   background-color: #5786f7;
   color: #fff;
   display: inline-block;
   border-radius: 5px;
   padding: 10px;
   &:hover{
      text-decoration: none;
      color: #fff;
      background-color: #7d9be5;
   }
}

.twitter-typeahead{
   width: 100%;
}

.tooltip-dialog{
   .title-blue{
      color: #004bff;
   }
}

.uk-grid.non-flex{
   display: block;
   flex-wrap: nowrap;
   -ms-flex-wrap: nowrap;
   -webkit-flex-wrap: nowrap;
}

.pb-5{
   padding-bottom: 5px !important;
}