.csh1{
    margin-top: 34px;
}
.fixture-item .info-fixture .option-2,
.fixture-item .info-fixture .option-1{
    height: auto;
    display:none;
}
.info-fixture .uk-margin-remove{
    padding-bottom: 10px;
}

@media only screen and (max-width: 320px) {
    .filter-select-page .dropdown-clubs .val-select {
        padding: 4px 0px;
        font-size: 14px;
    }
    .filter-select-page .dropdown-clubs i[class^="uk-icon-"] {
        margin-top: 10px;
    }
    .filter-select-page .btn-filter,
    .search-hotel .uk-form-row .drop-night-room,
    .search-hotel .uk-form-row .drop-select-room{
        padding: 5px 15px;
    }
    .search-hotel .uk-form-row .drop-select-room span,
    .search-hotel .uk-form-row .label-cm,
    .search-hotel .uk-form-row .label-checkin,
    .search-hotel .uk-form-row .drop-night-room span{
        font-weight:700;
    }
    .hotel-submit{
        font-size:18px;
    }
    .search-hotel .uk-form-row .ipt-checkin{
        height:36px;
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        font-weight:700;
    }
    .search-hotel .uk-form-row .hotel-search{
        box-shadow:none;
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        font-weight:400;
    }
}

@media only screen and (min-width: 480px) {
    .csh1{
        margin-top: 40px;
    }
    .info-fixture .uk-margin-remove{
        padding-bottom: 5px;
    }
}