html {
  font: normal 14px / 20px Arial, Helvetica, sans-serif;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
.my-clearfix:before,
.my-clearfix:after {
  content: " ";
  display: table;
}
.my-clearfix:after {
  clear: both;
}
.non-over-hidden {
  overflow: inherit;
}
body {
  background-color: #ebebeb;
}
.tickazilla-navbar {
  border-radius: 0;
  background-image: none;
  background-color: #fff;
  padding: 20px 0;
}
.tickazilla-navbar .uk-navbar-nav li a {
  padding: 0 5px;
}
.tickazilla-navbar .uk-navbar-nav li a:focus,
.tickazilla-navbar .uk-navbar-nav li a:active {
  box-shadow: none;
  border-color: transparent;
  border-radius: 0;
}
.tickazilla-navbar .uk-navbar-nav li a img {
  height: 26px;
  vertical-align: top;
  margin-top: 7px;
}
.tickazilla-navbar .uk-navbar-toggle {
  font-size: 31px;
  color: #5786f7;
  padding: 0 0 0 10px;
}
.tickazilla-navbar .brand-mobile {
  max-width: calc(100% - 126px);
  padding: 0;
}
.tickazilla-navbar .brand-mobile img {
  width: auto;
  height: 26px;
}
@media only screen and (min-width: 480px) {
  .tickazilla-navbar .uk-navbar-nav li a {
    padding: 0 5px;
  }
  .tickazilla-navbar .uk-navbar-nav li a img {
    height: 38px;
    margin-top: 0px;
  }
  .tickazilla-navbar .uk-navbar-toggle {
    font-size: 40px;
  }
  .tickazilla-navbar .brand-mobile {
    max-width: calc(100% - 146px);
  }
  .tickazilla-navbar .brand-mobile img {
    height: 38px;
  }
}
.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-inline {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .uk-overlay {
  display: block;
}
.banner.hotel-banner .uk-overlay > img {
  width: 100%;
  height: 500px;
}
@media only screen and (min-width: 480px) {
  .banner.hotel-banner .uk-overlay > img {
    width: 100%;
    height: 680px;
  }
}
.search-banner {
  display: block;
  width: 100%;
}
.search-banner .uk-form-row .uk-form-label {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.58);
  font-size: 19px;
}
.search-banner .uk-form-row .uk-form-label img {
  height: 20px;
}
.search-banner .uk-form-row .uk-form-icon {
  width: 100%;
}
.search-banner .uk-form-row .uk-form-icon input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 38px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  background-color: #fff;
  -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  border: none;
  padding-right: 32px;
  padding-left: 15px !important;
}
.search-banner .uk-form-row .uk-form-icon i[class*=uk-icon-] {
  color: #5786f7;
  font-size: 24px;
  margin-top: -12px;
}
.search-banner .uk-form-row .uk-form-icon .remove-val-textbox {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  font-weight: normal;
  width: 15px;
}
@media only screen and (min-width: 480px) {
  .search-banner .uk-form-row .uk-form-label {
    font-size: 29px;
  }
  .search-banner .uk-form-row .uk-form-label img {
    height: auto;
  }
  .search-banner .uk-form-row .uk-form-icon input {
    height: 50px;
    font-size: 25px;
    line-height: 26px;
    padding-left: 20px !important;
    padding-right: 42px;
  }
  .search-banner .uk-form-row .uk-form-icon i[class*=uk-icon-] {
    font-size: 35px;
    top: 39%;
    width: 50px;
  }
  .search-banner .uk-form-row .uk-form-icon .remove-val-textbox {
    right: 15px;
    top: 15px;
    width: auto;
  }
}
.list-cate .cate-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
  text-decoration: none;
  margin-top: 0;
}
.list-cate .cate-item .icon-list-home {
  width: 35px;
}
.list-cate .cate-item .wrap-info h4 {
  margin: 0;
  color: #3d3d3d;
  font-weight: 700;
}
.list-cate .cate-item .wrap-info p {
  margin: 0;
  color: #3d3d3d;
}
.list-cate .cate-item i[class*=uk-icon-] {
  font-size: 22px;
  color: #6b6b6b;
}
.list-cate .cate-item:hover {
  background-color: #efefef;
}
.list-cate .cate-item:last-child {
  border-bottom: none;
}
@media only screen and (min-width: 480px) {
  .list-cate .cate-item {
    padding: 20px 10px;
  }
  .list-cate .cate-item .icon-list-home {
    width: auto;
  }
  .list-cate .cate-item .wrap-info h4 {
    font-size: 30px;
    line-height: 33px;
  }
  .list-cate .cate-item .wrap-info p {
    font-size: 21px;
    line-height: 23px;
    margin-top: 10px;
  }
}
.list-follow {
  background-color: #fff;
  margin-top: 15px;
}
.list-follow h1 {
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 0;
}
.list-follow .uk-subnav {
  display: inline-block;
}
.list-follow .uk-subnav li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 65px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.list-follow .uk-subnav li a i {
  font-size: 35px;
}
.list-follow .uk-subnav li a.social-face {
  background-color: #506dbe;
  color: #fff;
}
.list-follow .uk-subnav li a.social-twitt {
  background-color: #27c2f2;
  color: #fff;
}
.list-follow .uk-subnav li a.social-link {
  background-color: #3a6da1;
  color: #fff;
}
@media only screen and (min-width: 480px) {
  .list-follow h1 {
    font-size: 20px;
  }
}
.footer {
  padding-bottom: 20px;
  padding-top: 20px;
}
.footer .uk-subnav {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}
.footer .uk-subnav li a {
  color: #446fd9;
}
.footer p {
  margin: 0;
}
@media only screen and (min-width: 480px) {
  .footer .uk-subnav li a {
    font-size: 22px;
  }
  .footer P {
    font-size: 22px;
    margin-top: 5px;
  }
}
.my-offcanvas-menu .uk-offcanvas-bar {
  background: #fff;
}
.my-offcanvas-menu .uk-offcanvas-bar:after {
  box-shadow: none;
  background: #c3c3c3;
}
.my-offcanvas-menu .uk-offcanvas-bar ul li.uk-nav-divider {
  height: 0;
}
.my-offcanvas-menu .uk-offcanvas-bar ul li .menu-list-item {
  padding: 10px;
}
.my-offcanvas-menu .uk-offcanvas-bar ul li .menu-list-item a {
  text-decoration: none;
}
.list-event-home {
  margin-top: 15px;
}
.event-home-item {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  -moz-box-shadow: 3px 5px 6px rgba(1, 2, 2, 0.22);
  -webkit-box-shadow: 3px 5px 6px rgba(1, 2, 2, 0.22);
  box-shadow: 3px 5px 6px rgba(1, 2, 2, 0.22);
  text-align: center;
  padding: 5px;
  margin-bottom: 10px !important;
  border: 1px solid transparent;
}
.event-home-item:hover {
  border: 1px solid #5786f7;
}
.event-home-item:hover .info-name a {
  color: #5786f7;
}
.event-home-item .retangle {
  position: relative;
  overflow: hidden;
}
.event-home-item .retangle:after {
  content: "";
  display: block;
  overflow: hidden;
  padding-bottom: 45%;
}
.event-home-item .retangle .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.event-home-item .retangle .inner a {
  display: block;
  font-size: 0;
}
.event-home-item .info-name {
  display: table;
  text-align: center;
  width: 100%;
  height: 50px;
}
.event-home-item .info-name a {
  display: table-cell;
  vertical-align: middle;
  color: #3d3d3d;
  font-weight: 700;
  text-decoration: none;
}
.event-home-item .info-name a:hover {
  color: #5786f7;
}
@media only screen and (min-width: 480px) {
  .event-home-item {
    padding: 10px;
  }
  .event-home-item .info-name {
    padding-top: 5px;
  }
  .event-home-item .info-name a {
    font-size: 20px;
  }
}
.wrap-showmore {
  min-height: 65px;
}
.wrap-showmore .show-more {
  text-decoration: none;
  position: relative;
  color: #5786f7;
}
.wrap-showmore .show-more:after {
  content: "";
  width: 38px;
  height: 38px;
  background: url(../../img/showmore.png) no-repeat center;
  position: absolute;
  left: 50%;
  top: 22px;
  margin-right: -50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@media only screen and (min-width: 480px) {
  .wrap-showmore .show-more {
    font-size: 20px;
  }
  .wrap-showmore .show-more:after {
    top: 26px;
  }
}
@media only screen and (max-width: 480px) {
  .search-hotel .uk-form-row .uk-form-label {
    font-size: inherit;
    text-align: left;
  }
}
.hotel-banner .uk-overlay-panel {
  padding: 10px;
}
.search-hotel {
  display: block;
  background-color: rgba(0, 21, 51, 0.54);
  border-radius: 10px;
  padding: 25px 10px;
}
.search-hotel .uk-grid {
  display: block;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}
.search-hotel .uk-form-row .label-plan {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.58);
  font-size: 19px;
}
.search-hotel .uk-form-row .label-plan img {
  height: 20px;
}
.search-hotel .uk-form-row .label-checkin {
  font-size: 14px;
  font-weight: normal;
}
.search-hotel .uk-form-row .ipt-checkin {
  height: 32px;
  color: #5786f7;
  -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  border: none;
}
.search-hotel .uk-form-row .ipt-checkin:focus {
  border: 2px solid #5786f7;
}
.search-hotel .uk-form-row .calendar-ic {
  color: #5786f7;
}
.search-hotel .uk-form-row .map-maker {
  color: #5786f7;
}
.search-hotel .uk-form-row .hotel-search {
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 38px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
  border: none;
  padding-right: 32px;
  padding-left: 15px !important;
}
.search-hotel .uk-form-row .remove-val-textbox {
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
  font-weight: normal;
  width: 15px;
}
.search-hotel .uk-form-row .label-cm {
  font-size: 14px;
  font-weight: normal;
  white-space: nowrap;
}
.search-hotel .uk-form-row .drop-night-room {
  text-align: left;
  padding: 2px 12px;
}
.search-hotel .uk-form-row .drop-night-room span {
  font-size: 15px;
}
.search-hotel .uk-form-row .drop-night-room .uk-icon-chevron-down {
  float: right;
  margin-top: 5px;
}
.search-hotel .uk-form-row .drop-select-room {
  text-align: left;
  padding: 2px 12px;
}
.search-hotel .uk-form-row .drop-select-room img.adult {
  width: auto;
  height: 24px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.search-hotel .uk-form-row .drop-select-room img.children {
  width: auto;
  height: 24px;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.search-hotel .uk-form-row .drop-select-room span {
  font-size: 15px;
}
.search-hotel .uk-form-row .drop-select-room .uk-icon-chevron-down {
  float: right;
  margin-top: 5px;
}
.hotel-submit {
  height: 35px;
  font-size: 14px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 700;
  width: 100%;
  padding: 5px 0;
  background-color: #f53939;
  -moz-box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
}
@media only screen and (min-width: 480px) {
  .hotel-banner .uk-overlay-panel {
    padding: 10px;
  }
  .search-hotel {
    display: block;
    width: 100%;
    background-color: rgba(0, 21, 51, 0.54);
    border-radius: 10px;
    padding: 25px 10px;
  }
  .search-hotel .uk-form-row .label-plan {
    font-size: 29px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.58);
  }
  .search-hotel .uk-form-row .label-plan img {
    height: auto;
  }
  .search-hotel .uk-form-row .label-checkin {
    font-size: 20px;
    line-height: 28px;
  }
  .search-hotel .uk-form-row .ipt-checkin {
    height: 60px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-left: 50px !important;
    font-size: 20px;
    color: #5786f7;
  }
  .search-hotel .uk-form-row .ipt-checkin:focus {
    border: 3px solid #5786f7;
  }
  .search-hotel .uk-form-row .calendar-ic {
    font-size: 30px;
    color: #5786f7;
    top: 35%;
    width: 50px;
  }
  .search-hotel .uk-form-row .map-maker {
    font-size: 35px;
    color: #5786f7;
    top: 33%;
    width: 50px;
  }
  .search-hotel .uk-form-row .hotel-search {
    width: 100%;
    height: 60px;
    font-size: 25px;
    line-height: 26px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
    -webkit-box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
    box-shadow: inset 3px 4px 4px rgba(115, 115, 115, 0.75);
    border: none;
    padding-left: 20px !important;
    padding-right: 42px;
  }
  .search-hotel .uk-form-row .remove-val-textbox {
    right: 15px;
    top: 19px;
    width: auto;
  }
  .search-hotel .uk-form-row .label-cm {
    font-size: 20px;
    line-height: 22px;
  }
  .search-hotel .uk-form-row .drop-night-room {
    text-align: left;
    padding: 15px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .search-hotel .uk-form-row .drop-night-room span {
    font-size: 20px;
  }
  .search-hotel .uk-form-row .drop-night-room .uk-icon-chevron-down {
    float: right;
    margin-top: 5px;
  }
  .search-hotel .uk-form-row .drop-select-room {
    text-align: left;
    padding: 5px 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .search-hotel .uk-form-row .drop-select-room img.adult {
    width: auto;
    height: auto;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
  .search-hotel .uk-form-row .drop-select-room img.children {
    width: auto;
    height: auto;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
  .search-hotel .uk-form-row .drop-select-room span {
    font-size: 20px;
    margin-left: 15px;
  }
  .search-hotel .uk-form-row .drop-select-room .uk-icon-chevron-down {
    float: right;
    margin-top: 15px;
  }
  .hotel-submit {
    height: 60px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    background-color: #f53939;
    -moz-box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.51);
  }
}
.head-page-intro {
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
}
.head-page-intro h1 {
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  margin: 0;
}
.head-page-intro p {
  margin: 0;
  color: #777;
}
@media only screen and (min-width: 480px) {
  .head-page-intro h1 {
    font-size: 20px;
    line-height: 23px;
  }
  .head-page-intro p {
    font-size: 17px;
  }
}
.filter-select-page {
  background-color: #fff;
  margin-top: 10px;
  padding: 10px;
}
.filter-select-page .btn-filter {
  color: #004bff;
  font-weight: 700;
}
.filter-select-page .dropdown-clubs i[class^="uk-icon-"] {
  width: 14px;
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.filter-select-page .dropdown-clubs .val-select {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 14px);
  float: left;
}
@media only screen and (min-width: 480px) {
  .filter-select-page .btn-filter {
    padding: 15px 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 50%;
  }
  .filter-select-page .dropdown-clubs {
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 18px;
  }
}
.avaiable-fixture {
  padding: 0 10px;
  margin: 5px 0 5px;
}
.avaiable-fixture .currency {
  color: #57933a;
  font-weight: 700;
}
@media only screen and (min-width: 480px) {
  .avaiable-fixture {
    margin: 10px 0 10px;
    font-size: 20px;
  }
}
.fixture-item {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #c3c3c3;
  position: relative;
}
.fixture-item:after {
  font-family: FontAwesome;
  content: "\f054";
  font-size: 15px;
  color: #5786f7;
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.fixture-item:last-child {
  border-bottom: none;
}
.fixture-item .calen-fixture {
  text-align: center;
}
.fixture-item .calen-fixture img {
  height: 40px;
}
.fixture-item .calen-fixture .item-cal {
  background-color: #efefef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 5px;
}
.fixture-item .calen-fixture .item-cal .head {
  color: #fff;
  background-color: #5785f7;
  padding: 5px 0;
  text-transform: capitalize;
}
.fixture-item .calen-fixture .item-cal .body span {
  display: block;
  color: #5785f7;
  text-transform: capitalize;
}
.fixture-item .calen-fixture .item-cal .body span + span {
  font-size: 14px;
}
.fixture-item .calen-fixture .item-cal .foot {
  border-top: 1px dotted #5785f7;
  color: #777;
  font-size: 14px;
}
.fixture-item .calen-fixture .item-cal .foot.base {
  font-size: inherit;
}
.fixture-item .info-fixture h4 {
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  margin: 0;
  color: #3d3d3d;
}
.fixture-item .info-fixture h4 span {
  font-weight: inherit;
  font-size: 14px;
  color: #777;
}
.fixture-item .info-fixture .uk-list li {
  color: #777;
}
.fixture-item .info-fixture .option-1 {
  height: 25px;
}
.fixture-item .info-fixture .option-1 + span {
  display: block;
}
.fixture-item .info-fixture .option-2 {
  height: 25px;
}
.fixture-item .info-fixture .option-2 + span {
  display: block;
}
.fixture-item .info-fixture .option-span {
  text-align: center;
}
.fixture-item .info-fixture .option-span span + span {
  color: #57933a;
  font-weight: bold;
  font-size: 17px;
}
.fixture-item .info-fixture .uk-grid-divider {
  margin-left: -10px;
  margin-right: -10px;
}
.fixture-item .info-fixture .uk-grid-divider > [class^="uk-width-"] {
  padding-left: 10px;
  padding-right: 10px;
}
.fixture-item .info-fixture .uk-grid-divider > [class^="uk-width-"]:last-child {
  border-left: 1px dotted #5785f7;
}
.fixture-item .info-fixture .uk-grid-divider .nth-2-divider {
  border-left: 1px dotted #5785f7;
}
.fixture-item .fixture-link {
  font-size: 22px;
  color: #5786f7;
}
.fixture-item .confirmed {
  color: #f53939;
}
.fixture-item .confirmed + img {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 480px) {
  .fixture-item:after {
    font-size: 25px;
  }
  .fixture-item .calen-fixture img {
    height: auto;
  }
  .fixture-item .calen-fixture .item-cal .head {
    font-size: 20px;
  }
  .fixture-item .calen-fixture .item-cal .body {
    padding: 10px 0 15px;
  }
  .fixture-item .calen-fixture .item-cal .body span {
    font-size: 20px;
    line-height: 23px;
  }
  .fixture-item .calen-fixture .item-cal .body span + span {
    font-size: 20px;
  }
  .fixture-item .calen-fixture .item-cal .foot {
    font-size: 20px;
  }
  .fixture-item .info-fixture h4 {
    font-size: 20px;
    font-weight: normal;
  }
  .fixture-item .info-fixture h4 span {
    font-size: 18px;
  }
  .fixture-item .info-fixture .uk-list li {
    font-size: 17px;
  }
  .fixture-item .info-fixture .option-1 {
    width: auto;
    height: auto;
  }
  .fixture-item .info-fixture .option-1 + span {
    font-size: 20px;
    margin-top: 5px;
  }
  .fixture-item .info-fixture .option-2 {
    width: auto;
    height: auto;
  }
  .fixture-item .info-fixture .option-2 + span {
    font-size: 20px;
    margin-top: 5px;
  }
  .fixture-item .info-fixture .option-span span {
    font-size: 20px;
  }
  .fixture-item .info-fixture .option-span span + span {
    font-size: 21px;
  }
  .fixture-item .info-fixture .uk-grid-divider div[class^="uk-width-1-"] {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .fixture-item .confirmed + img {
    width: auto;
    height: auto;
  }
}
.ticket-info {
  border-top: 1px solid #c3c3c3;
  padding: 10px;
  margin-top: 10px;
}
.ticket-info p {
  color: #777;
}
@media only screen and (min-width: 480px) {
  .ticket-info p {
    font-size: 17px;
  }
}
.company-review {
  background-color: #fff;
}
.company-review .head {
  padding: 10px;
}
.company-review .head h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  color: #3d3d3d;
  margin: 0;
}
.company-review .head p {
  margin: 5px 0 0;
}
.company-review .head span {
  color: #57933a;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
}
.company-review .body {
  border-top: 1px solid #c3c3c3;
  padding: 10px;
}
.company-review .body .great-title {
  font-size: 15px;
  font-weight: 700;
  color: #57933a;
}
.company-review .body .star-rate span {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../../img/icon-rv-a7.png) top center no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
.company-review .body .star-rate span.in-active {
  background: url(../../img/icon-14c10.png) top center no-repeat;
}
.company-review .body .quality {
  color: #777;
}
@media only screen and (min-width: 480px) {
  .company-review .head h4 {
    font-size: 20px;
  }
  .company-review .head p {
    font-size: 17px;
  }
  .company-review .head span {
    font-size: 20px;
  }
  .company-review .body .quality {
    font-size: 17px;
  }
  .company-review .body .great-title {
    font-size: 20px;
  }
}
.filter-head h4 {
  font-size: 17px;
  font-weight: 700;
}
.filter-head .reset {
  font-size: 17px;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .filter-head h4 {
    font-size: 21px;
  }
  .filter-head .reset {
    font-size: 20px;
  }
}
.filter-field-row {
  border-top: 1px solid #c3c3c3;
  padding: 10px 0;
  margin-top: 10px;
}
.common-form-modal .uk-form-row {
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 15px;
}
.common-form-modal .uk-form-row:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.common-dropdown i[class^="uk-icon-"] {
  width: 14px;
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.common-dropdown span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 14px);
  float: left;
  text-align: left;
}
@media only screen and (min-width: 480px) {
  .common-dropdown {
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 18px;
  }
}
.common-modal-label {
  color: #5785f7;
}
@media only screen and (min-width: 480px) {
  .common-modal-label {
    font-size: 21px;
  }
  .common-modal-ipt {
    height: 60px !important;
    font-size: 21px !important;
    border-radius: 10px !important;
  }
}
.club-vs {
  background-color: #fff;
  padding: 10px;
}
.club-vs h4 {
  color: #777;
  margin: 0;
}
.club-vs .match {
  margin: 10px 0;
}
.club-vs .match span {
  color: #777;
  font-weight: 700;
}
.club-vs .time {
  color: #777;
  margin: 5px 0;
}
.club-vs .confirm-date-time {
  margin-top: 10px;
}
.club-vs .confirm-date-time span {
  color: #f53939;
}
@media only screen and (min-width: 480px) {
  .club-vs h4 {
    font-size: 21px;
  }
  .club-vs .match span {
    font-size: 17px;
  }
  .club-vs .time {
    font-size: 18px;
  }
  .club-vs .confirm-date-time span + img {
    width: auto;
    height: auto;
  }
}
.club-stadium {
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}
.club-stadium .noti {
  color: #777;
}
.event-status {
  padding: 10px;
  margin-top: 10px;
  background-color: #fff;
}
.event-status h4 {
  color: #3d3d3d;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.event-status p {
  color: #a4a4a4;
  margin: 0;
}
@media only screen and (min-width: 480px) {
  .event-status h4 {
    font-size: 21px;
    line-height: 24px;
  }
  .event-status p {
    font-size: 17px;
  }
}
.box-contact {
  padding: 10px;
  background-color: #fff;
}
.box-contact h4 {
  color: #a94e48;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.box-contact p {
  color: #a94e48;
  margin: 0;
}
@media only screen and (min-width: 480px) {
  .box-contact h4 {
    font-size: 21px;
    line-height: 24px;
  }
  .box-contact p {
    font-size: 17px;
  }
}
.avaiable-event {
  padding: 10px;
}
.avaiable-event .event {
  color: #3d3d3d;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
.avaiable-event p {
  color: #777;
  margin: 0;
}
.avaiable-event .currency {
  color: #57933a;
  font-weight: 700;
}
@media only screen and (min-width: 480px) {
  .avaiable-event .event {
    font-size: 17px;
  }
  .avaiable-event .uk-text-right {
    text-align: right !important;
  }
}
.ticket-avai {
  background-color: #fff;
  border-bottom: 1px solid #c3c3c3;
  padding: 10px;
}
.ticket-avai:last-child {
  border-bottom: none;
}
.ticket-avai .uk-grid-divider {
  margin-left: -5px;
  margin-right: -5px;
}
.ticket-avai .uk-grid-divider > * {
  padding-left: 5px;
  padding-right: 5px;
}
.ticket-avai .uk-grid-divider .nth-2-divider {
  border-left: 1px dotted #5785f7 !important;
}
.ticket-avai .icon-square .square-event {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
}
.ticket-avai .icon-square .square-event.color-1 {
  background-color: #4f81bd;
}
.ticket-avai .icon-square .square-event.color-2 {
  background-color: #f79646;
}
.ticket-avai .icon-square .square-event.color-3 {
  background-color: #9bbb59;
}
.ticket-avai .icon-square .square-event.color-4 {
  background-color: #8064a2;
}
.ticket-avai .icon-square .square-event.color-5 {
  background-color: #ff0000;
}
.ticket-avai .icon-square .square-event.color-6 {
  background-color: #00b050;
}
.ticket-avai .info {
  position: relative;
  margin-bottom: 5px;
}
.ticket-avai .info .tool-info {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
}
.ticket-avai .info h4 {
  color: #3d3d3d;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}
.ticket-avai .info p {
  color: #3d3d3d;
  font-weight: bold;
  margin: 0;
}
.ticket-avai span {
  color: #5785f7;
  font-weight: bold;
}
.ticket-avai .act {
  text-align: center;
  width: 100%;
}
.ticket-avai .act span {
  display: block;
  color: #579339;
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}
.ticket-avai .act .btn-book-now {
  padding: 0 5px;
  background-color: #5786f7;
  color: #fff;
  display: block;
  border-radius: 4px;
  padding: 10px;
}
@media only screen and (min-width: 480px) {
  .ticket-avai .icon-square .square-event {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .ticket-avai .info .tool-info {
    width: auto;
    height: auto;
  }
  .ticket-avai .info h4 {
    font-size: 17px;
  }
  .ticket-avai .info p {
    font-size: 15px;
  }
  .ticket-avai .info span {
    font-size: 15px;
  }
  .ticket-avai .act span {
    font-size: 21px;
    text-transform: capitalize;
  }
  .ticket-avai .act .btn-book-now {
    padding: 15px 10px;
    font-size: 18px;
  }
}
.list-blue-link {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}
.list-blue-link .uk-list li a {
  text-decoration: none;
  font-weight: bold;
  color: #5786f7;
}
@media only screen and (min-width: 480px) {
  .list-blue-link .uk-list li {
    margin-bottom: 10px;
  }
  .list-blue-link .uk-list li:last-child {
    margin-bottom: 0;
  }
  .list-blue-link .uk-list li a {
    font-size: 17px;
  }
}
.link-form-ticka {
  font-weight: bold;
  color: #5786f7;
}
@media only screen and (min-width: 480px) {
  .link-form-ticka {
    font-size: 17px;
  }
}
.hotel-subnav {
  margin-top: -5px;
  margin-bottom: 10px;
}
.hotel-subnav li {
  color: #777;
}
.hotel-subnav li img {
  margin-right: 10px;
}
.hotel-subnav.air-map li a {
  color: #5785f7;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .hotel-subnav.air-map li {
    font-size: 17px;
  }
  .hotel-subnav.air-map li a {
    font-size: 17px;
  }
}
.change-hotel-search {
  font-weight: bold;
}
.change-hotel-search:focus {
  text-decoration: none;
  outline: none;
}
@media only screen and (min-width: 480px) {
  .change-hotel-search {
    font-size: 20px;
  }
  .change-hotel-search i {
    font-weight: bold;
  }
}
.hotel-search-item {
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #c3c3c3;
}
.hotel-search-item .box-name {
  margin-bottom: 10px;
}
.hotel-search-item .box-name h4 {
  margin: 0;
  font-weight: bold;
}
.hotel-search-item .box-name .score {
  display: inline-block;
}
.hotel-search-item .box-name span {
  color: #777;
  vertical-align: middle;
  margin-top: 2px;
  display: block;
}
.hotel-search-item .box-info-hotel .list-intro li {
  color: #777;
  line-height: 16px;
  margin-bottom: 6px;
}
.hotel-search-item .box-info-hotel .list-intro li img {
  margin-right: 5px;
}
.hotel-search-item .box-info-hotel .list-intro li span {
  margin-left: 5px;
  color: #5e8bf7;
  font-weight: bold;
}
.hotel-search-item .from-price {
  width: 100%;
}
.hotel-search-item .from-price span + span {
  color: #579339;
  font-weight: bold;
  font-size: 17px;
}
.hotel-search-item .from-price span + span i {
  color: #5786f7;
  font-weight: bold;
  font-size: 22px;
}
.hotel-search-item .link-caret {
  display: none;
}
@media only screen and (min-width: 480px) {
  .hotel-search-item .box-name h4 {
    font-size: 22px;
  }
  .hotel-search-item .box-info-hotel .list-intro li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .hotel-search-item .has-space-dot {
    border-left: 1px dotted #5785f7;
  }
  .hotel-search-item .from-price {
    text-align: right;
  }
  .hotel-search-item .from-price span {
    font-size: 16px;
  }
  .hotel-search-item .from-price span + span {
    margin-right: inherit;
    font-size: 21px;
  }
  .hotel-search-item .from-price span + span i {
    font-size: 23px;
  }
  .hotel-search-item .link-caret {
    display: block;
    text-align: right;
  }
  .hotel-search-item .link-caret a {
    text-decoration: none;
    font-size: 22px;
  }
}
.block-info-hotel {
  background-color: #fff;
  padding: 10px 0;
}
.list-hotel-action {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.list-hotel-action .uk-slider-container .uk-grid-divider {
  margin-left: -10px;
  margin-right: -10px;
}
.list-hotel-action .uk-slider-container .uk-grid-divider > * {
  padding-left: 10px;
  padding-right: 10px;
}
.list-hotel-action .uk-slider-container .uk-grid-divider > li:nth-child(n+2) {
  border-left: 1px solid #e5e5e5;
}
.list-hotel-action .uk-slider-container .uk-grid-divider li a {
  text-decoration: none;
}
.room-option-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.list-room-people {
  margin-bottom: 0;
}
.list-room-people span {
  font-weight: bold;
  color: #3d3d3d;
  display: inline-block;
  margin-top: 2px;
}
.list-room-people span.config {
  color: #5785f7;
}
.list-room-people span.config + img {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 480px) {
  .list-room-people span {
    font-size: 21px;
  }
  .list-room-people span.config + img {
    width: auto;
    height: auto;
  }
}
.list-room-check {
  margin-top: 5px;
}
.list-room-check li {
  color: #777;
  line-height: 16px;
  margin-bottom: 6px;
}
.list-room-check li img {
  margin-right: 5px;
}
.list-room-check li span {
  margin-left: 5px;
  color: #5e8bf7;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .list-room-check li {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.room-option-price {
  text-align: center;
  height: 100%;
}
.room-option-price span {
  font-weight: bold;
  color: #579339;
}
.room-option-price p {
  margin: 0 0 10px;
}
.room-option-price p b {
  color: #5786f7;
}
@media only screen and (min-width: 480px) {
  .room-option-price {
    text-align: right;
  }
  .room-option-price span {
    font-size: 21px;
  }
  .room-option-price p {
    font-size: 17px;
    margin-top: 5px;
  }
  .room-option-price p b {
    color: #5786f7;
  }
  .room-option-price .btn-book-now {
    padding: 10px 30px;
    font-size: 18px;
  }
}
.ticket-only {
  text-align: center;
  margin-top: 10px;
}
.ticket-only a {
  font-weight: bold;
}
.ticket-only a i {
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .ticket-only {
    position: absolute;
    bottom: 10px;
    right: 0;
  }
  .ticket-only a {
    font-size: 21px;
    text-decoration: none;
  }
}
.other-list-review {
  margin-top: 10px;
}
.other-list-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
  margin-top: 0 !important;
}
.other-list-item:last-child {
  border-bottom: none;
}
.other-list-item:hover {
  background-color: #efefef;
  text-decoration: none;
}
.other-list-item h4 {
  color: #306eba;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .other-list-item h4 {
    font-size: 21px;
  }
  .other-list-item i.uk-icon-chevron-right {
    font-size: 21px;
  }
}
.delivery-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.delivery-item .uk-grid-divider {
  margin-left: -10px;
  margin-right: -10px;
}
.delivery-item .uk-grid-divider > * {
  padding-left: 10px;
  padding-right: 10px;
}
.delivery-item .uk-grid-divider > [class^="uk-width-"]:nth-child(n+2) {
  border-left: 1px dotted #5785f7 ;
}
.delivery-item .name-delivery h4 {
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: 0;
}
.delivery-item .name-delivery span {
  font-weight: bold;
  color: #5785f7;
}
.delivery-item .name-delivery span + img {
  width: 20px;
  height: 20px;
}
.delivery-item .price span {
  font-weight: bold;
  color: #579339;
}
@media only screen and (max-width: 480px) {
  .delivery-item .uk-grid-divider > .clear-divider {
    border-left: none !important;
  }
}
@media only screen and (min-width: 480px) {
  .delivery-item .name-delivery h4 {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .delivery-item .name-delivery span {
    font-size: 17px;
  }
  .delivery-item .name-delivery span + img {
    width: auto;
    height: auto;
  }
  .delivery-item .price span {
    font-size: 21px;
  }
  .delivery-item .btn-select-deli {
    padding: 10px 14px;
    font-size: 18px;
  }
  .delivery-item .btn-select-deli i {
    font-weight: bold;
  }
}
.required-signin {
  font-weight: bold;
  color: #5786f7;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
}
.required-signin img {
  vertical-align: bottom;
}
.required-signin span {
  color: #4a4a4a;
  font-weight: normal;
}
@media only screen and (min-width: 480px) {
  .required-signin {
    font-size: 18px;
  }
}
.tip-block {
  padding: 10px;
}
.tip-block span {
  color: #3d3d3d;
}
.tip-block span + img {
  width: 20px;
  height: 20px;
}
.tip-block h4 {
  font-weight: bold;
  margin: 0;
}
@media only screen and (min-width: 480px) {
  .tip-block span {
    font-size: 18px;
  }
  .tip-block span + img {
    width: auto;
    height: auto;
  }
}
.mb-10 {
  margin-bottom: 10px;
}
.guest-item {
  background-color: #fff;
  padding: 10px 10px 20px;
  border-bottom: 1px solid #c3c3c3;
}
.guest-item h4.title {
  font-weight: bold;
}
.guest-item input[type='text'],
.guest-item select {
  border-radius: 0;
}
.block-box {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.block-box h4 {
  font-weight: bold;
  margin-bottom: 0px;
}
.block-box p {
  margin: 0;
  color: #3d3d3d;
}
.block-box .uk-list {
  margin: 0;
}
.block-list-condition .list-condition li {
  padding: 10px;
}
.block-list-condition .list-condition li:nth-child(even) {
  background-color: #fff;
}
.block-list-condition .list-condition li h4 {
  font-weight: bold;
}
.list-pay {
  border-top: 1px solid #c3c3c3;
}
.pay-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.pay-item .info {
  text-align: center;
}
.pay-item .info h4 {
  margin: 0;
  font-weight: bold;
  color: #5786f7;
}
.pay-item .info span {
  color: #3d3d3d;
}
.pay-item .price {
  font-weight: bold;
  color: #57933a;
}
@media only screen and (min-width: 480px) {
  .pay-item .info h4 {
    font-size: 21px;
  }
  .pay-item .info span {
    font-size: 18px;
  }
  .pay-item .price {
    font-size: 21px;
  }
}
.pay-has-price {
  padding: 10px;
}
.pay-has-price .how + img {
  width: 20px;
  height: 20px;
}
.pay-has-price .prices b {
  color: #579339;
}
@media only screen and (min-width: 480px) {
  .pay-has-price .how {
    font-size: 18px;
  }
  .pay-has-price .how + img {
    width: auto;
    height: auto;
  }
  .pay-has-price .prices {
    font-size: 18px;
    text-align: right;
    display: block;
  }
}
.toggle-change-hotel {
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #c3c3c3;
  margin-top: -10px;
}
.toggle-change-hotel .uk-list li {
  color: #636363;
}
.toggle-change-hotel .uk-list li:last-child {
  color: #57933a;
}
.toggle-change-hotel .uk-list li img {
  width: 20px;
  height: 20px;
}
@media only screen and (min-width: 480px) {
  .toggle-change-hotel .uk-list li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .toggle-change-hotel .uk-list li img {
    width: auto;
    height: auto;
  }
  .toggle-change-hotel .btn-book {
    padding: 10px 20px;
    font-size: 18px;
  }
  .toggle-change-hotel .btn-book i {
    font-weight: bold;
  }
}
.filter-rate {
  display: inline-block;
}
@media only screen and (min-width: 480px) {
  .btn-map-filter {
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
  }
}
.head-page-intro2 {
  padding: 10px;
}
.head-page-intro2 h1 {
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
  margin: 0;
}
.block-ticket-booking {
  background-color: #fff;
  padding: 10px;
}
.block-ticket-booking h4 {
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
}
.block-ticket-booking .ticket-booking-price {
  font-weight: bold;
  color: #57933a;
  font-size: 17px;
}
.wrap-total-ticket-cost {
  border-top: 1px solid #c3c3c3;
  margin-top: 10px;
  padding-top: 10px;
}
.wrap-total-ticket-cost .total-ticket-cost {
  color: #5786f7;
}
.wrap-total-ticket-cost .ticket-booking-total {
  font-weight: bold;
  color: #57933a;
  font-size: 17px;
}
.block-hotel-booking {
  background-color: #fff;
  padding: 10px;
}
.block-hotel-booking h4 {
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
}
.block-hotel-booking .hotel-booking-price {
  font-weight: bold;
  color: #57933a;
  font-size: 17px;
  display: block;
}
.block-common-review {
  background-color: #fff;
  padding: 10px;
}
.block-common-review h4 {
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
}
.block-common-review h4.has-cost {
  color: #5786f7;
}
.block-common-review p {
  margin: 0;
}
.block-common-review .booking-price {
  font-weight: bold;
  color: #57933a;
  font-size: 17px;
}
.head-page-intro3 .inner-head {
  padding: 10px;
}
.head-page-intro3 .info-cost {
  padding: 10px;
  background-color: #fff;
}
.head-page-intro3 .info-cost span {
  color: #57933a;
}
.head-page-intro3 .total-cost {
  font-weight: bold;
  margin: 0;
  color: #5786f7;
}
.head-page-intro3 .total-price {
  font-weight: bold;
  color: #57933a;
  font-size: 17px;
}
.promotion-discount .inner {
  padding: 10px;
}
.promotion-discount .inner h4 {
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
}
.promotion-discount .inner p {
  margin: 0;
}
.promotion-discount .payment-page {
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
}
.block-account {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.block-account .head-title h4 {
  font-weight: bold;
  color: #5786f7;
  margin: 0;
}
.block-account .head-title h4 img {
  margin-right: 5px;
}
.block-account .head-title p {
  color: #4a4a4a;
  margin-top: 5px;
}
.block-account .uk-form input {
  border-radius: 0;
}
.block-customer {
  background-color: #fff;
}
.block-customer.has-line {
  border-bottom: 1px solid #c3c3c3;
}
.block-customer .recommend {
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.block-customer .recommend h4 {
  font-weight: bold;
  color: #57933a;
  margin: 0;
}
.block-customer .recommend h4 img {
  margin-right: 5px;
}
.block-customer .nav-accord .uk-accordion-title {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  color: #5786f7;
  margin-bottom: 0;
  position: relative;
}
.block-customer .nav-accord .uk-accordion-title:after {
  content: "";
  width: 25px;
  height: 16px;
  background: url(../../img/14-customer-review/down-collap.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 11px;
}
.list-review {
  margin-top: 10px;
}
.review-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.review-item:last-child {
  border-bottom: none;
}
.review-item:hover {
  background-color: #efefef;
}
.review-item h4 {
  font-weight: bold;
  color: #5786f7;
  margin-bottom: 0;
}
.review-item p {
  font-weight: bold;
  color: #57933a;
  margin: 0;
}
.review-item span {
  color: #3d3d3d;
}
.company-review-item {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #c3c3c3;
}
.company-review-item .first-title {
  font-weight: bold;
  color: #4a4a4a;
  margin: 0;
}
.company-review-item .blue-title {
  font-weight: bold;
  color: #5786f7;
  margin: 0;
}
.company-review-item p {
  color: #3d3d3d;
  margin: 0;
}
.company-review-item .uk-grid h4.green {
  font-weight: bold;
  color: #57933a;
}
.company-review-item .uk-grid span.blue {
  color: #5786f7;
}
.company-review-item .uk-grid span.green {
  color: #57933a;
}
.result-avai-review {
  background-color: #fff;
  padding: 10px;
}
.result-avai-review h4 {
  font-weight: bold;
  margin: 0;
  color: #5786f7;
}
.filter-sortby {
  padding: 10px;
}
.filter-sortby .drop-sortby span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 14px);
  float: left;
}
.filter-sortby .drop-sortby i[class^="uk-icon-"] {
  width: 14px;
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
@media (max-width: 480px) {
  .uk-hidden-tiny {
    display: none !important;
  }
}
.list-payment-help {
  background-color: #fff;
}
.common-accordion > .uk-accordion-title {
  position: relative;
  border-radius: 0;
  border: none;
  background-color: #fff;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}
.common-accordion > .uk-accordion-title span {
  color: #5786f7;
}
.common-accordion > .uk-accordion-title:after {
  content: "";
  width: 15px;
  height: 26px;
  background: url(../../img/right-arrow.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.common-accordion > .uk-accordion-title.uk-active:after {
  content: "";
  width: 26px;
  height: 16px;
  background: url(../../img/down-collap.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.common-accordion .uk-accordion-content {
  padding: 15px 15px;
}
@media only screen and (min-width: 480px) {
  .common-accordion .uk-accordion-title {
    font-size: 21px;
  }
  .common-accordion .uk-accordion-content > * {
    font-size: 17px;
  }
}
.common-accordion-2 > .accordion-2-title {
  padding-right: 25px;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}
.common-accordion-2 > .accordion-2-title:after {
  content: "";
  width: 15px;
  height: 26px;
  background: url(../../img/16-frequently/right-black.png) no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.common-accordion-2 > .accordion-2-title.uk-active:after {
  content: "";
  width: 26px;
  height: 16px;
  background: url(../../img/16-frequently/down-black.png) no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.common-accordion-2 .accordion-2-content > * {
  color: #579339;
}
@media only screen and (min-width: 480px) {
  .common-accordion-2 > .accordion-2-title {
    font-size: 21px;
  }
  .common-accordion-2 .accordion-2-content > * {
    font-size: 17px;
  }
}
.block {
  background-color: #fff;
  padding: 10px;
}
.block h4.title {
  color: #5786f7;
  font-weight: bold;
}
.block h4.title img {
  margin-right: 5px;
}
.block .list-verify li {
  color: #579339;
}
.block p span {
  display: block;
  font-weight: bold;
}
.block a.insert-user-link {
  color: #57933a;
  font-weight: bold;
}
@media only screen and (min-width: 480px) {
  .block h4.title {
    font-size: 21px;
  }
  .block .list-verify li {
    font-size: 17px;
  }
  .block p {
    font-size: 17px;
  }
}
.form-for-contact .uk-form-row input[type="text"],
.form-for-contact .uk-form-row textarea,
.form-for-contact .uk-form-row select {
  border-radius: 0;
}
.form-for-contact .uk-form-row textarea {
  resize: none;
}
.contact-phone-item {
  background-color: #fff;
  padding: 10px;
  color: #4a4a4a;
  border-bottom: 1px solid #c3c3c3;
}
.wrap-hotel-profile {
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
}
.search-hotel.search-in-hotel-profile {
  background-color: transparent;
  padding: 0;
  width: auto;
}
.search-hotel.search-in-hotel-profile .uk-form-row .hotel-search,
.search-hotel.search-in-hotel-profile .uk-form-row .ipt-checkin {
  border: 1px solid #ddd;
}
.hotel-submit.profile-hotel-submit {
  background-color: #5786f7;
}
.btn-on-design {
  background-color: #5786f7;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
}
.btn-on-design:hover {
  text-decoration: none;
  color: #fff;
  background-color: #7d9be5;
}
.twitter-typeahead {
  width: 100%;
}
.tooltip-dialog .title-blue {
  color: #004bff;
}
.uk-grid.non-flex {
  display: block;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}
.pb-5 {
  padding-bottom: 5px !important;
}
